@model IronHorseCore.Models.Operation

@{
    ViewData["Title"] = "Create";
}

<h4>Agregar Operación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MonthYear" class="control-label"></label>
                <input asp-for="MonthYear" class="form-control" />
                <span asp-validation-for="MonthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarrierId" class="control-label"></label>
                <select asp-for="CarrierId" class="form-control" asp-items="ViewBag.CarrierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LoadDate" class="control-label"></label>
                <input asp-for="LoadDate" class="form-control" />
                <span asp-validation-for="LoadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutDate" class="control-label"></label>
                <input asp-for="OutDate" class="form-control" />
                <span asp-validation-for="OutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TractoId" class="control-label"></label>
                <select asp-for="TractoId" class="form-control" asp-items="ViewBag.TractoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarretaId" class="control-label"></label>
                <select asp-for="CarretaId" class="form-control" asp-items="ViewBag.CarretaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UnitPay" class="control-label"></label>
                <input asp-for="UnitPay" class="form-control" />
                <span asp-validation-for="UnitPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientrateId" class="control-label"></label>
                <select asp-for="ClientrateId" class="form-control" asp-items="ViewBag.ClientrateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OdometerBegin" class="control-label"></label>
                <input asp-for="OdometerBegin" class="form-control" />
                <span asp-validation-for="OdometerBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdometerEnd" class="control-label"></label>
                <input asp-for="OdometerEnd" class="form-control" />
                <span asp-validation-for="OdometerEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap4.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/select2/js/i18n/es.js"></script>

    <script>
        //Set a los atributos de los input date para convertirlos en tipo texto
        $('#OutDate').attr('type', 'text');
        $('#EndDate').attr('type', 'text');
        $('#LoadDate').attr('type', 'text');

        $('#MonthYear').datepicker({
            format: "mm/yyyy",
            startView: 1,
            minViewMode: 1,
            autoclose: true
        });

        //Agregarle el datepicker del javascript
        $('#OutDate').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#EndDate').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#LoadDate').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });


        $('#DriverId').select2({
            theme: 'bootstrap4',
        });

        $('#ClientId').select2({
            theme: 'bootstrap4',
        });

        $('#ClientrateId').select2({
            theme: 'bootstrap4',
        });

        $('#TractoId').select2({
            theme: 'bootstrap4',
        });

        $('#CarretaId').select2({
            theme: 'bootstrap4',
        });

        $('#CarrierId').select2({
            theme: 'bootstrap4',
        });
    </script>
}
