@model IronHorseCore.Models.User

@{
    ViewData["Title"] = "Create";
}

<h4>Agregar usuario</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-4">
                    <label asp-for="TypeDoc" class="control-label"></label>
                    <select asp-for="TypeDoc" class="form-control form-control-sm" asp-items="ViewBag.TypeDocList"></select>
                    <span asp-validation-for="TypeDoc" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="NumberDoc" class="control-label"></label>
                        <input asp-for="NumberDoc" class="form-control form-control-sm" />
                        <span asp-validation-for="NumberDoc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control form-control-sm" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control form-control-sm" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control form-control-sm" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="CellPhone" class="control-label"></label>
                        <input asp-for="CellPhone" class="form-control form-control-sm" />
                        <span asp-validation-for="CellPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control form-control-sm" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control form-control-sm" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Rol" class="control-label"></label>
                        <select asp-for="Rol" class="form-control form-control-sm" asp-items="ViewBag.RolList"></select>
                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-check">
                        <input asp-for="Enabled" class="form-check-input " />
                        <label asp-for="Enabled" class="form-check-label"></label>
                        <span asp-validation-for="Enabled" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Grabar" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
