<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IronHorse</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/layouts.css" />

    <style>
        body {
            color: #838c96;
            font-size: 0.9rem;
        }

        table {
            color: #838c96 !important;
        }

        .page-title-box .page-title-right {
            float: right;
            margin-top: 20px;
        }

        .page-title-box .page-title {
            font-size: 25px;
            margin: 0;
            line-height: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
            color: #838c96;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #313a46 !important;">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><b>Iron Horse</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Clients" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Clientrates" asp-action="Index">Tarifas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Bills" asp-action="Index">Facturas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operaciones</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" asp-area="" asp-controller="Operations" asp-action="Index">Operaciones</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Carriers" asp-action="Index">Transportista</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Drivers" asp-action="Index">Conductores</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Typeloads" asp-action="Index">Tipo de carga</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TypeProducts" asp-action="Index">Tipo de producto</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Typeservices" asp-action="Index">Tipo de servicios</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Places" asp-action="Index">Lugares</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Drivers" asp-action="Index">Conductores</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Trucks" asp-action="Index">Tracto/Carreta</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Units" asp-action="Index">Unidad</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Moneys" asp-action="Index">Moneda</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TypeExpenses" asp-action="Index">Tipo de Gastor de Conductor</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Tolls" asp-action="Index">Peajes</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - IronHorseCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<environment include="Development">*@
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/layouts.js" asp-append-version="true"></script>
    @*</environment>
    <environment include="Production">
        <script src="~/bundles/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
