@model IronHorseCore.Models.Toll

@{
    ViewData["Title"] = "Create";
}

<h4>Agregar Peaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*
                <div class="form-group">
                    <label asp-for="OperationsId" class="control-label"></label>
                    <select asp-for="OperationsId" class ="form-control" asp-items="ViewBag.OperationsId"></select>
                </div>
            *@
            <div class="form-group">
                <label asp-for="DatePay" class="control-label"></label>
                <input asp-for="DatePay" class="form-control" />
                <span asp-validation-for="DatePay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pay" class="control-label"></label>
                <input asp-for="Pay" class="form-control" />
                <span asp-validation-for="Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>

    <script>
        //Set a los atributos de los input date para convertirlos en tipo texto
        $('#DatePay').attr('type', 'text');

        //Agregarle el datepicker del javascript
        $('#DatePay').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
    </script>
}
